.components {
  margin: ($spacing-unit) 0;
}

article {
  max-width: 100%;
}

section {
  border-top: 1px solid #ddd;
  padding-top: $spacing-unit;
  margin-bottom: ($spacing-unit * 4);

  & > h3 {
    margin-bottom: $spacing-unit;
  }
}

// Transitions

a, .btn {
  transition: .1s ease;
}

// Grid

@import "grid";


// Buttons

.btn {
  background: $brand-color;
  border: none;
  border-radius: $border-radius;
  color: $background-color;
  padding: ($spacing-unit / 3) ($spacing-unit / 1.5);

  &.btn--secondary {
    background: $text-color;
  }

  &:hover {
    background: #111;
    border: none;
    color: #fff;
  }

}

.card {
  background: #fff;
  border-radius: $border-radius * 2;
  padding: $spacing-unit;
}

.components {
  .demo {
    width: 100%;
    padding: ($spacing-unit / 2);
    background: hsla(31,15%,50%,.1);
    border-radius: 3px;
  }
  .grid-cell .demo {
    text-align: center;
    font-size: ($base-font-size * .8);
  }
}
