.grid {
  display: flex;
  margin: -($spacing-unit / 2) 0 ($spacing-unit / 2) (-($spacing-unit / 2));
}

.grid-cell {
  flex: 1;
  padding: ($spacing-unit / 2) 0 0 ($spacing-unit / 2);
}

@media (max-width: 50em) {

  .grid {
    flex-wrap: wrap;
  }

  .grid-cell {
    flex: 0 0 100%;
  }

}

// Alignment per row
.grid--top {
  align-items: flex-start;
}
.grid--bottom {
  align-items: flex-end;
}
.grid--center {
  align-items: center;
}

// Alignment per cell
.grid-cell--top {
  align-self: flex-start;
}
.grid-cell--bottom {
  align-self: flex-end;
}
.grid-cell--center {
  align-self: center;
}

// Base classes for all media

.grid--fit > .grid-cell {
  flex: 1;
}
.grid--full > .grid-cell {
  flex: 0 0 100%;
}
.grid--1of2 > .grid-cell {
  flex: 0 0 50%
}
.grid--1of3 > .grid-cell {
  flex: 0 0 33.3333%
}
.grid--1of4 > .grid-cell {
  flex: 0 0 25%
}

/* Small to medium screens */
@media (min-width: 25em) {
  .small-Grid--fit > .Grid-cell {
    flex: 1;
  }
  .small-Grid--full > .Grid-cell {
    flex: 0 0 100%;
  }
  .small-Grid--1of2 > .Grid-cell {
    flex: 0 0 50%
  }
  .small-Grid--1of3 > .Grid-cell {
    flex: 0 0 33.3333%
  }
  .small-Grid--1of4 > .Grid-cell {
    flex: 0 0 25%
  }
}

/* Large screens */
@media (min-width: 50em) {
  .large-Grid--fit > .Grid-cell {
    flex: 1;
  }
  .large-Grid--full > .Grid-cell {
    flex: 0 0 100%;
  }
  .large-Grid--1of2 > .Grid-cell {
    flex: 0 0 50%
  }
  .large-Grid--1of3 > .Grid-cell {
    flex: 0 0 33.3333%
  }
  .large-Grid--1of4 > .Grid-cell {
    flex: 0 0 25%
  }
}
